@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div>Have you ever wanted to learn to play a musical instrument but could find the time?</div>
        <div>Start planning your musical journey with our help today!</div>
        <React.Fragment>
            <img height="400" width="400" src="https://thumbs.gfycat.com/AfraidContentGenet-size_restricted.gif" />
            <img width="400" height="400" src=" https://www.actualidadiphone.com/wp-content/uploads/2019/11/flowkey.gif" />
            <img height="400" width=" 400" src="https://www.educationalgizmos.com/wp-content/uploads/2015/11/20/yousician.gif" />
        </React.Fragment>
    </div>
