@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>Have you ever wanted to learn to play a musical instrument but could find the time?</div>
    <div>Start planning your musical journey with our help today!</div>
</div>
