@model ScheduleMusicPractice.Models.ViewModels.ScheduleASession

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PracticeSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="practiceSession.Id" />
        
            <div class="form-group">
                <label asp-for="practiceSession.dateTime" class="control-label">Date and Time</label>
                <input asp-for="practiceSession.dateTime" class="form-control" />
                <span asp-validation-for="practiceSession.dateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="practiceSession.InstrumentId" class="control-label">Choose your Instrument</label>
                <select asp-for="practiceSession.InstrumentId" class="form-control" asp-items="@Model.ListOfInstruments"></select>
                <span asp-validation-for="practiceSession.InstrumentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="practiceSession.PracticeMethodId" class="control-label">Choose Your Method of Practice</label>
                <select asp-for="practiceSession.PracticeMethodId" class="form-control" asp-items="@Model.ListOfPracticeMethods"></select>
                <span asp-validation-for="practiceSession.PracticeMethodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
