@model ScheduleMusicPractice.Models.PracticeSession

@{
    ViewData["Title"] = "ReviewIt";
}

<h1>Review It</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ReviewIt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
      <input type="hidden" asp-for=" InstrumentId"/>
            <input type="hidden" asp-for="dateTime"/>
            <input type="hidden" asp-for="PracticeMethodId"/>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="greentoggle" class="form-check-input" asp-for="completed" /> @Html.DisplayNameFor(model => model.completed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MinutesPracticed" class="control-label"></label>
                <input asp-for="MinutesPracticed" class="form-control" />
                <span asp-validation-for="MinutesPracticed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ratethisSession" class="control-label"></label>
                <input asp-for="ratethisSession" class="form-control" />
                <span asp-validation-for="ratethisSession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-action="View" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="View">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
