@model ScheduleMusicPractice.Models.ViewModels.RankingViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ranking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class=" form-group">
                <label asp-for="learningMaterial" class="control-label"></label>
                <input asp-for="learningMaterial" class="form-control" />
                <span asp-validation-for="learningMaterial" class="text-danger"></span>
            </div>
            <div hidden class=" form-group">
                <label asp-for="user" class="control-label"></label>
                <input asp-for="user" class="form-control" />
                <span asp-validation-for="user" class="text-danger"></span>
            </div>  <div hidden class=" form-group">
                <label asp-for="rank.LearningMaterialId" class="control-label"></label>
                <input asp-for="rank.LearningMaterialId" class="form-control" />
                <span asp-validation-for="rank.LearningMaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rank.Rating" class="control-label"></label>
                <input asp-for="rank.Rating" class="form-control" />
                <span asp-validation-for="rank.Rating" class="text-danger"></span>
            </div>  <div class="form-group">
                <label class="control-label">What level play would you recommend to use this?(Hold CRL key to select multiple)</label>
                <select multiple asp-for="@Model.SelectedLevelId" class="form-control" asp-items="@Model.Levels"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
